<!DOCTYPE html>
<html lang="en" ng-app='allTheGreatTodos'>
  <head>
    <meta charset="utf-8">
    <title>Angular Todo App</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div class="container" ng-controller="todoController">
      
      <div class="row" style="padding-bottom: 1.5em;"> <!-- Start of Row 0 -->
        <div class="col-md-12">
          <h1 class="center">Angular Todo App</h1>
        </div>
      </div> <!-- End of Row 0 -->
      
      <div class="row center"> <!-- Start of Row 1 -->
        <button type="button" 
                class="btn btn-primary btn-lg"
                ng-click="show = 'new'"
                >New Task
        </button>
        <button type="button" 
                class="btn btn-primary btn-lg"
                ng-click="show = 'incomplete'"
                >Incomplete Tasks</button>
        <button type="button" 
                class="btn btn-primary btn-lg"
                ng-click="show = 'complete'"
                >Completed Tasks</button>
        <hr>
      </div> <!-- End of Row 1 -->
      
      <div class="row" ng-show="show === 'new'">
        <h1>Add a Task</h1>
      </div>
      
      <div class="row" ng-show="show === 'incomplete'">
        <h1>Todos</h1>
        <div class="col-md-6 col-md-offset-3">
            <span ng-repeat="todo in list" ng-hide="todo.done">
              <label class="checkbox">
                <input type="checkbox" ng-model="todo.done" style="width: 30px; height: 30px;">
              </label>
              <h2>{{ todo.task }}</h2>
            </span>
        </div>
      </div>
      
      <div class="row" ng-show="show === 'complete'">
        <h1>Completed Tasks</h1>
        <div class="col-md-6 col-md-offset-3">
            <span ng-repeat="todo in list" ng-show="todo.done">
              <label class="checkbox">
                <input type="checkbox" ng-model="todo.done" style="width: 30px; height: 30px;">
              </label>
              <h2>{{ todo.task }}</h2>
            </span>
        </div>
      </div>
      
    </div><!-- End of container and todoController-->
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
